.color{
    color:#6c5ce7;
}

.inner__second__gbook-content{
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    display: block;
    overflow-y:scroll;
  
}

.gbook-content__wrapper{
    width:100%;
    height:200%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.gbook-content__wrapper__box{
    width:95%;
    height:97%;
    display:grid;
    grid-template-rows: repeat(3,1fr);
    
}

.gbook-content{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 4fr;
 

}
.gbook-content__bar{
    width:100%;
    height:70%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #b2bec3;
}

.gbook-content__bar a {
    transition: all .5s;
}
.gbook-content__bar a:hover{
    color:white;
}




.gbook-content__bar span{
    padding-left:5px;
    padding-right:5px;
}

.gbook-content__img-txt{
    width:100%;
    height:70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:10px;
}

.gbook-content__img{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gbook-content__img img{
    width:100%;
    height:100%;
    background-image: url("https://media.giphy.com/media/xFmwnGWu0UUb0pRIVq/giphy.gif");
    background-position: center center;
    background-size: cover;

}

.gbook-content__wrapper__box .gbook-content:nth-child(2) .gbook-content__img img {
    width:100%;
    height:100%;
    background-image: url("https://media.giphy.com/media/mYhd1NHQkHmZLiqN7M/giphy.gif");
    background-position: center center;
    background-size: cover;

    
}


.gbook-content__wrapper__box .gbook-content:last-child .gbook-content__img img {
    width:100%;
    height:100%;
    background-image: url("https://media.giphy.com/media/cT5gKT412jHqw/giphy.gif");
    background-position: center center;
    background-size: cover;

}



.gbook-content__txt{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

}
