.inner__second__profile-content{
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    display: block;
    overflow-y:scroll;
  
}


.profile-content__wrapper{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 1.2fr 4fr;
 
}

.profile-content__wrapper__txt{
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}

.wrapper__txt__bar{
    width:94%;
    height:50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #b2bec3;
}
.wrapper__txt__bar span {
    padding-left:30px;
}


.profile-content__wrapper__img{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



.profile-content__wrapper__img-1{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}



.profile-content__wrapper__img-1 img{
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/ES4Vcv8zWfIt2/giphy.gif");
    background-position: center center;
    background-size:cover;

}


.profile-content__wrapper__img img{
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/LG1ZZP1Go0D8j7YsWy/giphy.gif");
    background-position: center center;
    background-size:cover;
}



.profile-content__wrapper__img-2{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile-content__wrapper__img-2 img{
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/pzryvxGeykOxeC0fWb/giphy.gif");
    background-position: center center;
    background-size:cover;
}


.profile-content__wrapper__img-3{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-content__wrapper__img-3 img{
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/DrJm6F9poo4aA/giphy.gif");
    background-position: center center;
    background-size:cover;
}





/* 
.profile-content__wrapper__img img{
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/LG1ZZP1Go0D8j7YsWy/giphy.gif");
    background-position: center center;
    background-size:cover;
}


.profile-content__wrapper:nth-child(2) .profile-content__wrapper__img img {
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/ES4Vcv8zWfIt2/giphy.gif");
    background-position: center center;
    background-size:cover;
}


.profile-content__wrapper:nth-child(3) .profile-content__wrapper__img img {
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/pzryvxGeykOxeC0fWb/giphy.gif");
    background-position: center center;
    background-size:cover;
}


.profile-content__wrapper:nth-child(4) .profile-content__wrapper__img img {
    width:80%;
    height:80%;
    background-image: url("https://media.giphy.com/media/DrJm6F9poo4aA/giphy.gif");
    background-position: center center;
    background-size:cover;
} */





